<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <!--binding to [recipe] coming from recipe-item.ts because we are referring it in app-recipe-item component -->

    <app-recipe-item 
      *ngFor="let recipeEl of recipes; let i = index" 
      [recipe]="recipeEl"
      [index]="i">
      <!-- (recipeSelected)='onRecipeSelected(recipeEl)'> -->

      <!-- (recipeSelected)='onRecipeSelected(recipeEl)' this is needed to pass info from recipe-item to recipe-list to the go to recipes component
      recipeSelected come from recipe-item.ts, onRecipeSelected method called in recipe-list.ts, to display the clicked recipe we use recipeEl from ngFor which will show the recipes stored in the module  -->
    </app-recipe-item>

  </div>
</div>
