<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">

        <!-- Use routertLink to move to url without refreshing the app on the last router link 
          is used with property binding with an array holding the route name -->
        <li role="presentation" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/">Home</a></li>
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="servers">Servers</a></li>
        <li role="presentation"
            routerLinkActive="active">
          <a [routerLink]="['users']">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <!-- Adding router-outlet to display the routing and the components held in the routing -->
      <router-outlet></router-outlet>
    </div>
  
 