<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">

        <div *ngIf="onlyOdd">
          <li
          class="list-group-item"
          [ngClass]="{odd: odd % 2 !== 0}"
          [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
          *ngFor="let odd of oddNumbers">
          {{ odd }}
        </li>
        </div>

        <div *appUnless="onlyOdd">
          <li
          class="list-group-item"
          [ngClass]="{odd: even % 2 == 0}"
          [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
          *ngFor="let even of evenNumbers">
          {{ even }}
        </li>
        </div> 
      </ul>
      <p appBasicHighlight >Style me with basic directives</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with Better directives</p>
      <!--
        if you are adding the alias in the @input brackets with the same name a the directive you can use [] aroud the directive and assign the value to have the same style 
        as the property (this way its an option)

        In property binding you can remove the [] and the '' its a special case as you are passing a string and can still use propertry binding.Be carfull with this use a ssomeone can think is an attribute of the element you are placing it on
      <p [appBetterHighlight]="'red'" defaultColor="yellow" >Style me with Better directives</p>
      -->
    </div>
  </div>
</div>
