<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- [queryParams] property to add query to url when link is clicked -->
      <!-- fragment add # to url with loading or anything you want to add -->
      <a 
      [routerLink]="['/servers', 5, 'edit']"
      [queryParams]="{allowEdit: '1'}" 
      fragment="loading"
      href="#" 
      class="list-group-item" 
      *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>
