<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- [queryParams] property to add query to url when link is clicked -->
      <!-- fragment add # to url with loading or anything you want to add -->
      <a 
      [routerLink]="['/servers', server.id]"
      [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}" 
      fragment="loading"
      href="#" 
      class="list-group-item" 
      *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- this hook will work on all the child routs of the route being loaded on the servers component which uses /server . thi is usefull when you need to display child of components from a parent component-->
    <router-outlet></router-outlet>
    <!-- <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server> -->
  </div>
</div>
